
/* ====================
    Base Styles
======================= */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: lightslategray;
    text-align: center;
    background: #f4f4f4;
}

h2 {
    margin: 2em 0;
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3acec2;
}

img {
    max-width: 100%;
}



/* ====================
    Layout Styles
======================= */

/* ----- Navigation ----- */

header {
    padding: 20px 0px;
}

.tanner {
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    color: #3acec2;
}

.main-nav a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: 10px 15px;
    font-size: 1em;
    text-transform: uppercase;
    background: midnightblue;
    margin-bottom: .5em;
}

.main-nav a:hover {
    background: black;
    transition: all .3s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* ----- Body ----- */

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
}

.top-section {
    padding-top: 2em;
    padding-bottom: 4em;
}

.bio-content {
    padding: 1em 0;
}

.profile-img {
    max-width: 90%;
    text-align: center;
}

.contact-p {
    padding-bottom: 1em;
}

footer p {
    font-weight: 700;
}

.accent-line {
    height: 1px;
    width: 90%;
    background: lightgray;
    margin: 2em auto;
}

.portfolio-section {
    background: white;
    padding: 2em 0;
}

.portfolio-card {
    margin-bottom: 4em;
}

.skill-card {
    padding: 1em 5em;
    background: midnightblue;
    color: #3acec2;
    margin: 0.5em auto;
    min-width: 250px;
}

.skill-card:hover {
    background: black;
    transition: all .3s;
}

.bottom-menu {
    display: none;
}


/* ====================
    MEDIA QUERIES
======================= */

@media (min-width: 768px) {


    .main-nav li {
        display: inline-block;
        margin: 0 5px;
    }

   .bio-content p{
       float: left;
       max-width: 325px;
       text-align: left;
   }

   .profile-img {
       float: right;
   }

   .portfolio-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
   }

   .portfolio-card {
       flex: 1 50%;
   }

   .col {
        padding: 0 0.5em;
        overflow: auto;
}

   .left {
        float: left;
        margin-top: 0;
    }

    .right {
        float: right;
    }

    .skill-card {
        display: inline-block;
    }
   
    .back-to-top {
        display: none;
    }

    .bottom-menu {
        display: inline-block;
    }

    .bottom-menu-item {
        margin: 0 1em;
        font-weight: 700;
    }

    .bottom-menu a:hover {
        color: midnightblue;
        transition: all .3s;
    }


   /* ----- Float Clearfix ---- */
   .clearfix::after {
       content: "";
       display: table;
       clear: both;
   }



}

@media (min-width: 1024px) {

    .main-nav {
        float: right;
    }

    .top-section {
        padding-top: 5em;
    }

    .tanner {
        float: left;
    }

    .bio {
        padding: 5em 0;
    }

    .bio-content p{
        max-width: 450px;
    }

    .portfolio-div {
        flex-wrap: wrap;
    }

    .portfolio-card {
        flex: 1 30%;
    }

    .contact-section {
        margin-top: 5em;
    }

    .contact p {
        max-width: 650px;
        margin: 20px auto;
    }


}