@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


/* ====================
    Base Styles
======================= */

* {
    box-sizing: border-box;
    /* max-width: 100%; */
}

body {
    font-family: 'Montserrat', Lato, sans-serif;
    line-height: 1.5;
    color: lightslategray;
    text-align: center;
}

h2 {
    margin: 2em 0;
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3acec2;
}

img {
    max-width: 100%;
}



/* ====================
    Layout Styles
======================= */

/* ----- Navigation ----- */

header {
    padding: 20px 0px;
}

.tanner {
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    padding: .5em 0;
}

.main-nav a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: 10px 15px;
    font-size: 1em;
    text-transform: uppercase;
    background: midnightblue;
    margin-bottom: .5em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header,
.top-section {
    background: #f4f4f4;
}


/* ----- Body ----- */

.container {
    width: 90%;
    margin: 0 auto;
}

.top-section {
    padding-top: 2em;
}

.bio-content {
    padding: 1em 0;
}

.profile-img {
    max-width: 300px;
    text-align: center;
}

.contact-p {
    padding-bottom: 1em;
}

footer p {
    font-weight: 700;
}



.accent-line {
    height: 1px;
    width: 90%;
    background: lightgray;
    margin: 2em auto;
}










/* ====================
    MEDIA QUERIES
======================= */

@media (min-width: 768px) {

    .main-nav li {
        display: inline-block;
        position: relative;
        margin: 0 5px;
    }

   .bio-content p{
       float: left;
       max-width: 350px;
       text-align: left;
   }

   .profile-img {
       float: right;
   }

   .portfolio-card {
       width: 50%;
       float: left;
   }

   .col {
       padding-left: 1em;
       padding-right: 1em;
   }

   .left {
        float: left;
    }

    .right {
        float: right;
    }

   

   /* ----- Float Clearfix ---- */
   .clearfix::after {
       content: "";
       display: table;
       clear: both;
   }


}

@media (min-width: 1024px) {

    .main-nav li {
        float: right;
    }

    .tanner {
        float: left;
    }

    .bio {
        padding: 5em 0;
    }

    .navigation,
    .bio {
        width: 90%;
        margin: 0 auto;
    }
}